<a href="https://colab.research.google.com/github/lmdss1294/project2_data_gathering/blob/main/2012_data/Untitled33.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [68]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/lmdss1294/project2_data_gathering/main/2012_data/2012.csv",encoding= 'CP949')

In [69]:
df = df.sort_values(by = '날짜')

In [70]:
df = df.drop(labels = ['출발공항명','도착공항명','구분','출/도착구분'],axis =1)

In [71]:
df.reset_index(inplace = True,drop = True)

In [72]:
df.head()

         날짜     항공사      편명 출발공항코드 도착공항코드        계획시간   예상시간   출발시간  현황
0  20120101  중국남방항공   CZ694    CJU    SHE  오후 8:00:00  20:00  20:01  출발
1  20120101    제주항공   7C804    CJU    CJJ  오후 5:00:00  17:00  17:13  출발
2  20120101    대한항공  KE1246    CJU    GMP  오후 5:05:00  17:05  17:25  출발
3  20120101    대한항공  KE1250    CJU    GMP  오후 5:10:00  17:10  17:28  출발
4  20120101    제주항공   7C114    CJU    GMP  오후 5:20:00  17:20  17:32  출발

In [53]:
df.tail()

             날짜     항공사      편명 출발공항코드 도착공항코드         계획시간   예상시간   출발시간  현황
62137  20121231    제주항공   7C504    CJU    PUS  오후 12:55:00  12:55  13:26  지연
62138  20121231     NaN   TBJ23    CJU    RMQ   오후 1:00:00  13:49  13:49  출발
62139  20121231  아시아나항공  OZ8918    CJU    GMP   오후 1:00:00  13:00  13:16  출발
62140  20121231     진에어   LJ308    CJU    GMP  오후 12:35:00  12:35  12:48  출발
62141  20121231     진에어   LJ101    CJU    PVG  오후 10:15:00  22:15  22:24  출발

In [54]:
len(df['계획시간'].iloc[53067])

10

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62142 entries, 0 to 62141
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      62142 non-null  int64
 1   항공사     62048 non-null  object
 2   편명      62142 non-null  object
 3   출발공항코드  62142 non-null  object
 4   도착공항코드  62142 non-null  object
 5   계획시간    62112 non-null  object
 6   예상시간    62142 non-null  object
 7   출발시간    62142 non-null  object
 8   현황      61290 non-null  object
dtypes: int64(1), object(8)
memory usage: 4.3+ MB

In [85]:
df['항공사'].fillna('개인',inplace = True)

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62142 entries, 0 to 62141
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      62142 non-null  int64
 1   항공사     62142 non-null  object
 2   편명      62142 non-null  object
 3   출발공항코드  62142 non-null  object
 4   도착공항코드  62142 non-null  object
 5   계획시간    62112 non-null  object
 6   예상시간    62142 non-null  object
 7   출발시간    62142 non-null  object
 8   현황      61290 non-null  object
dtypes: int64(1), object(8)
memory usage: 4.3+ MB

In [67]:
df['출발시간']

0        20:01
1        17:13
2        17:25
3        17:28
4        17:32
         ...
62137    13:26
62138    13:49
62139    13:16
62140    12:48
62141    22:24
Name: 출발시간, Length: 62142, dtype: object

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62142 entries, 0 to 62141
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      62142 non-null  int64
 1   항공사     62048 non-null  object
 2   편명      62142 non-null  object
 3   출발공항코드  62142 non-null  object
 4   도착공항코드  62142 non-null  object
 5   계획시간    62112 non-null  object
 6   예상시간    62142 non-null  object
 7   출발시간    62142 non-null  object
 8   현황      61290 non-null  object
dtypes: int64(1), object(8)
memory usage: 4.3+ MB

In [56]:
df2 = pd.read_csv("https://raw.githubusercontent.com/lmdss1294/project2_data_gathering/main/2012_data/AIR_AMOS_182_HR_2012_2012_2018.csv",encoding= 'CP949')

In [74]:
df[df['현황'].isnull()==True]

             날짜     항공사      편명 출발공항코드 도착공항코드         계획시간   예상시간   출발시간   현황
12830  20120324   이스타항공  ZE1331    CJU    HGH   오후 1:10:00      :      :  NaN
12841  20120324     NaN   MCIMO    CJU    SHA  오후 12:00:00      :      :  NaN
13358  20120327    대한항공  KE1902    CJU    KWJ   오전 9:00:00      :      :  NaN
13371  20120327    대한항공  KE1952    CJU    CJJ   오전 9:20:00      :      :  NaN
13444  20120328     진에어   LJ326    CJU    GMP   오후 8:20:00      :      :  NaN
...         ...     ...     ...    ...    ...          ...    ...    ...  ...
59065  20121213   이스타항공   ZE216    CJU    GMP   오후 1:05:00      :      :  NaN
59118  20121213   이스타항공   ZE228    CJU    GMP   오후 8:10:00      :      :  NaN
59498  20121216    대한항공  KE1424    CJU    ICN   오후 4:50:00  16:50  17:05  NaN
59505  20121216  아시아나항공  OZ8988    CJU    ICN   오후 9:05:00  21:05  21:16  NaN
60808  20121224  중국남방항공  CZ6076    CJU    CGQ   오후 4:00:00      :      :  NaN

[852 rows x 9 columns]

In [82]:
for i in range(len(df['현황'])):
  if pd.isna(df['현황'].iloc[i]):
    print('a')

a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a
a

In [83]:
for i in range(len(df['현황'])):
  if pd.isna(df['현황'].iloc[i]):
    if df['출발시간'].iloc[i] != ':':
      df['현황'].iloc[i] = '출발'
    
    else:
      df['현황'].iloc[i] = '취소'


       
  else:
    continue

<ipython-input-83-9ad7cc71ada0>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['현황'].iloc[i] = '취소'
<ipython-input-83-9ad7cc71ada0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['현황'].iloc[i] = '출발'

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62142 entries, 0 to 62141
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   날짜      62142 non-null  int64
 1   항공사     62142 non-null  object
 2   편명      62142 non-null  object
 3   출발공항코드  62142 non-null  object
 4   도착공항코드  62142 non-null  object
 5   계획시간    62112 non-null  object
 6   예상시간    62142 non-null  object
 7   출발시간    62142 non-null  object
 8   현황      62142 non-null  object
dtypes: int64(1), object(8)
memory usage: 4.3+ MB

In [100]:
for i in range(len(df['현황'])):
  if df['현황'].iloc[i] == '취소':
    print(df.iloc[i])

스트리밍 출력 내용이 길어서 마지막 5000줄이 삭제되었습니다.
날짜          20120925
항공사            드래곤에어
편명             KA311
출발공항코드           CJU
도착공항코드           HKG
계획시간      오후 2:05:00
예상시간               :
출발시간               :
현황                취소
Name: 45469, dtype: object
날짜           20120925
항공사            아시아나항공
편명             OZ8124
출발공항코드            CJU
도착공항코드            TAE
계획시간      오후 12:30:00
예상시간                :
출발시간                :
현황                 취소
Name: 45495, dtype: object
날짜          20120926
항공사             대한항공
편명            KE1956
출발공항코드           CJU
도착공항코드           CJJ
계획시간      오후 4:05:00
예상시간               :
출발시간               :
현황                취소
Name: 45540, dtype: object
날짜           20120926
항공사               진에어
편명              LJ304
출발공항코드            CJU
도착공항코드            GMP
계획시간      오전 10:00:00
예상시간            10:00
출발시간                :
현황                 취소
Name: 45610, dtype: object
날짜          20120926
항공사             대한항공
편명            KE1008
출발공항코드           CJU
도착공항코드           PUS
계획시간      오후 1:30:00
예상시간               :
출발시간               :
현황                취소
Name: 45640, dtype: object
날짜           20120926
항공사            아시아나항공
편명             OZ8124
출발공항코드            CJU
도착공항코드            TAE
계획시간      오후 12:30:00
예상시간                :
출발시간                :
현황                 취소
Name: 45670, dtype: object
날짜          20120927
항공사             대한항공
편명            KE1956
출발공항코드           CJU
도착공항코드           CJJ
계획시간      오후 4:05:00
예상시간               :
출발시간               :
현황                취소
Name: 45709, dtype: object
날짜          20120927
항공사             대한항공
편명            KE1008
출발공항코드           CJU
도착공항코드           PUS
계획시간      오후 1:30:00
예상시간               :
출발시간               :
현황                취소
Name: 45810, dtype: object
날짜           20120927
항공사            아시아나항공
편명             OZ8124
출발공항코드            CJU
도착공항코드            TAE
계획시간      오후 12:30:00
예상시간                :
출발시간                :
현황                 취소
Name: 45839, dtype: object
날짜          20120928
항공사             대한항공
편명             KE717
출발공항코드           CJU
도착공항코드           NRT
계획시간      오후 6:10:00
예상시간               :
출발시간               :
현황                취소
Name: 45865, dtype: object
날짜          20120928
항공사             대한항공
편명            KE1956
출발공항코드           CJU
도착공항코드           CJJ
계획시간      오후 4:05:00
예상시간               :
출발시간               :
현황                취소
Name: 45884, dtype: object
날짜          20120928
항공사            드래곤에어
편명             KA311
출발공항코드           CJU
도착공항코드           HKG
계획시간      오후 2:05:00
예상시간               :
출발시간               :
현황                취소
Name: 45999, dtype: object
날짜           20120928
항공사            아시아나항공
편명             OZ8124
출발공항코드            CJU
도착공항코드            TAE
계획시간      오후 12:30:00
예상시간                :
출발시간                :
현황                 취소
Name: 46028, dtype: object
날짜          20120929
항공사             대한항공
편명             KE717
출발공항코드           CJU
도착공항코드           NRT
계획시간      오후 6:10:00
예상시간               :
출발시간               :
현황                취소
Name: 46056, dtype: object
날짜          20120929
항공사             대한항공
편명            KE1956
출발공항코드           CJU
도착공항코드           CJJ
계획시간      오후 4:05:00
예상시간               :
출발시간               :
현황                취소
Name: 46079, dtype: object
날짜          20120929
항공사             대한항공
편명            KE1008
출발공항코드           CJU
도착공항코드           PUS
계획시간      오후 1:30:00
예상시간               :
출발시간               :
현황                취소
Name: 46196, dtype: object
날짜           20120929
항공사            아시아나항공
편명             OZ8124
출발공항코드            CJU
도착공항코드            TAE
계획시간      오후 12:30:00
예상시간                :
출발시간                :
현황                 취소
Name: 46232, dtype: object
날짜          20120930
항공사             대한항공
편명             KE717
출발공항코드           CJU
도착공항코드           NRT
계획시간      오후 6:10:00
예상시간               :
출발시간               :
현황                취소
Name: 46250, dtype: object
날짜          20120930
항공사             대한항공
편명             KE717
출발공항코드           CJU
도착공항코드           NRT
계획시간      오후 6:10:00
예상시간               :
출발시간               :
현황                취소
Name: 46251, dtype: object
날짜          20120930
항공사             대한항공
편명            KE1956
출발공항코드           CJU
도착공항코드           CJJ
계획시간      오후 4:05:00
예상시간               :
출발시간               :
현황                취소
Name: 46273, dtype: object
날짜          20120930
항공사             제주항공
편명             7C122
출발공항코드           CJU
도착공항코드           GMP
계획시간      오후 9:15:00
예상시간               :
출발시간               :
현황                취소
Name: 46288, dtype: object
날짜          20120930
항공사            이스타항공
편명             ZE228
출발공항코드           CJU
도착공항코드           GMP
계획시간      오후 8:10:00
예상시간               :
출발시간               :
현황                취소
Name: 46325, dtype: object
날짜          20120930
항공사             대한항공
편명            KE1008
출발공항코드           CJU
도착공항코드           PUS
계획시간      오후 1:30:00
예상시간               :
출발시간               :
현황                취소
Name: 46390, dtype: object
날짜          20120930
항공사             대한항공
편명             KE755
출발공항코드           CJU
도착공항코드           NGO
계획시간      오후 1:50:00
예상시간               :
출발시간               :
현황                취소
Name: 46410, dtype: object
날짜           20120930
항공사            아시아나항공
편명             OZ8124
출발공항코드            CJU
도착공항코드            TAE
계획시간      오후 12:30:00
예상시간                :
출발시간                :
현황                 취소
Name: 46425, dtype: object
날짜          20121001
항공사             대한항공
편명             KE717
출발공항코드           CJU
도착공항코드           NRT
계획시간      오후 6:10:00
예상시간               :
출발시간               :
현황                취소
Name: 46451, dtype: object
날짜          20121001
항공사             대한항공
편명            KE1956
출발공항코드           CJU
도착공항코드           CJJ
계획시간      오후 4:05:00
예상시간               :
출발시간               :
현황                취소
Name: 46470, dtype: object
날짜          20121001
항공사             대한항공
편명            KE1008
출발공항코드           CJU
도착공항코드           PUS
계획시간      오후 1:30:00
예상시간               :
출발시간               :
현황                취소
Name: 46582, dtype: object
날짜          20121001
항공사            드래곤에어
편명             KA311
출발공항코드           CJU
도착공항코드           HKG
계획시간      오후 2:05:00
예상시간               :
출발시간               :
현황                취소
Name: 46588, dtype: object
날짜           20121001
항공사            아시아나항공
편명             OZ8124
출발공항코드            CJU
도착공항코드            TAE
계획시간      오후 12:30:00
예상시간                :
출발시간                :
현황                 취소
Name: 46616, dtype: object
날짜          20121002
항공사             대한항공
편명             KE717
출발공항코드           CJU
도착공항코드           NRT
계획시간      오후 6:10:00
예상시간               :
출발시간               :
현황                취소
Name: 46650, dtype: object
날짜          20121002
항공사             대한항공
편명            KE1956
출발공항코드           CJU
도착공항코드           CJJ
계획시간      오후 4:05:00
예상시간               :
출발시간               :
현황                취소
Name: 46651, dtype: object
날짜          20121002
항공사             대한항공
편명            KE1008
출발공항코드           CJU
도착공항코드           PUS
계획시간      오후 1:30:00
예상시간               :
출발시간               :
현황                취소
Name: 46772, dtype: object
날짜          20121002
항공사            드래곤에어
편명             KA311
출발공항코드           CJU
도착공항코드           HKG
계획시간      오후 2:05:00
예상시간               :
출발시간               :
현황                취소
Name: 46776, dtype: object
날짜           20121002
항공사            아시아나항공
편명             OZ8124
출발공항코드            CJU
도착공항코드            TAE
계획시간      오후 12:30:00
예상시간                :
출발시간                :
현황                 취소
Name: 46802, dtype: object
날짜          20121003
항공사             대한항공
편명             KE717
출발공항코드           CJU
도착공항코드           NRT
계획시간      오후 6:10:00
예상시간               :
출발시간               :
현황                취소
Name: 46830, dtype: object
날짜          20121003
항공사             대한항공
편명            KE1956
출발공항코드           CJU
도착공항코드           CJJ
계획시간      오후 4:05:00
예상시간               :
출발시간               :
현황                취소
Name: 46848, dtype: object
날짜          20121003
항공사             대한항공
편명            KE1008
출발공항코드           CJU
도착공항코드           PUS
계획시간      오후 1:30:00
예상시간               :
출발시간               :
현황                취소
Name: 46962, dtype: object
날짜           20121003
항공사            아시아나항공
편명             OZ8124
출발공항코드            CJU
도착공항코드            TAE
계획시간      오후 12:30:00
예상시간                :
출발시간                :
현황                 취소
Name: 46995, dtype: object
날짜           20121004
항공사            아시아나항공
편명             OZ8124
출발공항코드            CJU
도착공항코드            TAE
계획시간      오후 12:30:00
예상시간                :
출발시간                :
현황                 취소
Name: 47034, dtype: object
날짜          20121004
항공사             대한항공
편명             KE717
출발공항코드           CJU
도착공항코드           NRT
계획시간      오후 6:10:00
예상시간               :
출발시간               :
현황                취소
Name: 47100, dtype: object
날짜          20121004
항공사             대한항공
편명            KE1008
출발공항코드           CJU
도착공항코드           PUS
계획시간      오후 1:30:00
예상시간               :
출발시간               :
현황                취소
Name: 47160, dtype: object
날짜          20121004
항공사             대한항공
편명            KE1956
출발공항코드           CJU
도착공항코드           CJJ
계획시간      오후 4:05:00
예상시간               :
출발시간               :
현황                취소
Name: 47183, dtype: object
날짜          20121005
항공사             대한항공
편명             KE717
출발공항코드           CJU
도착공항코드           NRT
계획시간      오후 6:10:00
예상시간               :
출발시간               :
현황                취소
Name: 47207, dtype: object
날짜          20121005
항공사             대한항공
편명            KE1956
출발공항코드           CJU
도착공항코드           CJJ
계획시간      오후 4:05:00
예상시간               :
출발시간               :
현황                취소
Name: 47226, dtype: object
날짜          20121005
항공사            이스타항공
편명             ZE252
출발공항코드           CJU
도착공항코드           GMP
계획시간      오후 9:35:00
예상시간           21:35
출발시간               :
현황                취소
Name: 47251, dtype: object
날짜          20121005
항공사            드래곤에어
편명             KA311
출발공항코드           CJU
도착공항코드           HKG
계획시간      오후 2:05:00
예상시간               :
출발시간               :
현황                취소
Name: 47340, dtype: object
날짜           20121005
항공사            아시아나항공
편명             OZ8124
출발공항코드            CJU
도착공항코드            TAE
계획시간      오후 12:30:00
예상시간                :
출발시간                :
현황                 취소
Name: 47368, dtype: object
날짜          20121006
항공사              진에어
편명             LJ318
출발공항코드           CJU
도착공항코드           GMP
계획시간      오후 4:55:00
예상시간           16:55
출발시간               :
현황                취소
Name: 47388, dtype: object
날짜          20121006
항공사             대한항공
편명             KE717
출발공항코드           CJU
도착공항코드           NRT
계획시간      오후 6:10:00
예상시간               :
출발시간               :
현황                취소
Name: 47406, dtype: object
날짜          20121006
항공사             대한항공
편명            KE1956
출발공항코드           CJU
도착공항코드           CJJ
계획시간      오후 4:05:00
예상시간               :
출발시간               :
현황                취소
Name: 47420, dtype: object
날짜          20121006
항공사             대한항공
편명            KE1008
출발공항코드           CJU
도착공항코드           PUS
계획시간      오후 1:30:00
예상시간               :
출발시간               :
현황                취소
Name: 47529, dtype: object
날짜           20121006
항공사            아시아나항공
편명             OZ8124
출발공항코드            CJU
도착공항코드            TAE
계획시간      오후 12:30:00
예상시간                :
출발시간                :
현황                 취소
Name: 47561, dtype: object
날짜          20121007
항공사             대한항공
편명             KE717
출발공항코드           CJU
도착공항코드           NRT
계획시간      오후 6:10:00
예상시간               :
출발시간               :
현황                취소
Name: 47583, dtype: object
날짜          20121007
항공사             대한항공
편명            KE1956
출발공항코드           CJU
도착공항코드           CJJ
계획시간      오후 4:05:00
예상시간               :
출발시간               :
현황                취소
Name: 47602, dtype: object
날짜          20121007
항공사             대한항공
편명            KE1008
출발공항코드           CJU
도착공항코드           PUS
계획시간      오후 1:30:00
예상시간               :
출발시간               :
현황                취소
Name: 47739, dtype: object
날짜           20121007
항공사            아시아나항공
편명             OZ8124
출발공항코드            CJU
도착공항코드            TAE
계획시간      오후 12:30:00
예상시간                :
출발시간                :
현황                 취소
Name: 47748, dtype: object
날짜          20121008
항공사             대한항공
편명            KE1956
출발공항코드           CJU
도착공항코드           CJJ
계획시간      오후 4:05:00
예상시간               :
출발시간               :
현황                취소
Name: 47803, dtype: object
날짜          20121008
항공사             대한항공
편명             KE717
출발공항코드           CJU
도착공항코드           NRT
계획시간      오후 6:10:00
예상시간               :
출발시간               :
현황                취소
Name: 47807, dtype: object
날짜          20121008
항공사             대한항공
편명            KE1008
출발공항코드           CJU
도착공항코드           PUS
계획시간      오후 1:30:00
예상시간               :
출발시간               :
현황                취소
Name: 47906, dtype: object
날짜          20121008
항공사            드래곤에어
편명             KA311
출발공항코드           CJU
도착공항코드           HKG
계획시간      오후 2:05:00
예상시간               :
출발시간               :
현황                취소
Name: 47912, dtype: object
날짜           20121008
항공사            아시아나항공
편명             OZ8124
출발공항코드            CJU
도착공항코드            TAE
계획시간      오후 12:30:00
예상시간                :
출발시간                :
현황                 취소
Name: 47941, dtype: object
날짜          20121009
항공사             대한항공
편명             KE717
출발공항코드           CJU
도착공항코드           NRT
계획시간      오후 6:10:00
예상시간               :
출발시간               :
현황                취소
Name: 47965, dtype: object
날짜          20121009
항공사             대한항공
편명            KE1956
출발공항코드           CJU
도착공항코드           CJJ
계획시간      오후 4:05:00
예상시간               :
출발시간               :
현황                취소
Name: 47978, dtype: object
날짜          20121009
항공사             대한항공
편명            KE1008
출발공항코드           CJU
도착공항코드           PUS
계획시간      오후 1:30:00
예상시간               :
출발시간               :
현황                취소
Name: 48078, dtype: object
날짜          20121009
항공사            드래곤에어
편명             KA311
출발공항코드           CJU
도착공항코드           HKG
계획시간      오후 2:05:00
예상시간               :
출발시간               :
현황                취소
Name: 48082, dtype: object
날짜           20121009
항공사            아시아나항공
편명             OZ8124
출발공항코드            CJU
도착공항코드            TAE
계획시간      오후 12:30:00
예상시간                :
출발시간                :
현황                 취소
Name: 48105, dtype: object
날짜           20121009
항공사             이스타항공
편명              ZE254
출발공항코드            CJU
도착공항코드            GMP
계획시간      오후 12:40:00
예상시간            12:40
출발시간                :
현황                 취소
Name: 48109, dtype: object
날짜          20121010
항공사             대한항공
편명             KE717
출발공항코드           CJU
도착공항코드           NRT
계획시간      오후 6:10:00
예상시간               :
출발시간               :
현황                취소
Name: 48136, dtype: object
날짜          20121010
항공사             대한항공
편명            KE1956
출발공항코드           CJU
도착공항코드           CJJ
계획시간      오후 4:05:00
예상시간               :
출발시간               :
현황                취소
Name: 48151, dtype: object
날짜          20121010
항공사             대한항공
편명            KE1008
출발공항코드           CJU
도착공항코드           PUS
계획시간      오후 1:30:00
예상시간               :
출발시간               :
현황                취소
Name: 48252, dtype: object
날짜          20121010
항공사            티웨이항공
편명             TW712
출발공항코드           CJU
도착공항코드           GMP
계획시간      오후 2:30:00
예상시간               :
출발시간               :
현황                취소
Name: 48261, dtype: object
날짜           20121010
항공사            아시아나항공
편명             OZ8124
출발공항코드            CJU
도착공항코드            TAE
계획시간      오후 12:30:00
예상시간                :
출발시간                :
현황                 취소
Name: 48281, dtype: object
날짜          20121011
항공사             대한항공
편명             KE717
출발공항코드           CJU
도착공항코드           NRT
계획시간      오후 6:10:00
예상시간               :
출발시간               :
현황                취소
Name: 48302, dtype: object
날짜          20121011
항공사             대한항공
편명            KE1956
출발공항코드           CJU
도착공항코드           CJJ
계획시간      오후 4:05:00
예상시간               :
출발시간               :
현황                취소
Name: 48308, dtype: object
날짜          20121011
항공사             대한항공
편명            KE1008
출발공항코드           CJU
도착공항코드           PUS
계획시간      오후 1:30:00
예상시간               :
출발시간               :
현황                취소
Name: 48425, dtype: object
날짜           20121011
항공사            아시아나항공
편명             OZ8124
출발공항코드            CJU
도착공항코드            TAE
계획시간      오후 12:30:00
예상시간                :
출발시간                :
현황                 취소
Name: 48455, dtype: object
날짜          20121012
항공사             대한항공
편명             KE717
출발공항코드           CJU
도착공항코드           NRT
계획시간      오후 6:10:00
예상시간               :
출발시간               :
현황                취소
Name: 48481, dtype: object
날짜          20121012
항공사             대한항공
편명            KE1956
출발공항코드           CJU
도착공항코드           CJJ
계획시간      오후 4:05:00
예상시간               :
출발시간               :
현황                취소
Name: 48499, dtype: object
날짜          20121012
항공사            드래곤에어
편명             KA311
출발공항코드           CJU
도착공항코드           HKG
계획시간      오후 2:05:00
예상시간               :
출발시간               :
현황                취소
Name: 48608, dtype: object
날짜           20121012
항공사            아시아나항공
편명             OZ8124
출발공항코드            CJU
도착공항코드            TAE
계획시간      오후 12:30:00
예상시간                :
출발시간                :
현황                 취소
Name: 48634, dtype: object
날짜          20121013
항공사             대한항공
편명            KE1956
출발공항코드           CJU
도착공항코드           CJJ
계획시간      오후 4:05:00
예상시간               :
출발시간               :
현황                취소
Name: 48685, dtype: object
날짜          20121013
항공사             대한항공
편명             KE717
출발공항코드           CJU
도착공항코드           NRT
계획시간      오후 6:10:00
예상시간               :
출발시간               :
현황                취소
Name: 48688, dtype: object
날짜          20121013
항공사             대한항공
편명            KE1008
출발공항코드           CJU
도착공항코드           PUS
계획시간      오후 1:30:00
예상시간               :
출발시간               :
현황                취소
Name: 48792, dtype: object
날짜           20121013
항공사            아시아나항공
편명             OZ8124
출발공항코드            CJU
도착공항코드            TAE
계획시간      오후 12:30:00
예상시간                :
출발시간                :
현황                 취소
Name: 48819, dtype: object
날짜          20121014
항공사             대한항공
편명             KE717
출발공항코드           CJU
도착공항코드           NRT
계획시간      오후 6:10:00
예상시간               :
출발시간               :
현황                취소
Name: 48843, dtype: object
날짜          20121014
항공사             대한항공
편명            KE1956
출발공항코드           CJU
도착공항코드           CJJ
계획시간      오후 4:05:00
예상시간               :
출발시간               :
현황                취소
Name: 48869, dtype: object
날짜          20121014
항공사             대한항공
편명            KE1008
출발공항코드           CJU
도착공항코드           PUS
계획시간      오후 1:30:00
예상시간               :
출발시간               :
현황                취소
Name: 48976, dtype: object
날짜           20121014
항공사            아시아나항공
편명             OZ8124
출발공항코드            CJU
도착공항코드            TAE
계획시간      오후 12:30:00
예상시간                :
출발시간                :
현황                 취소
Name: 48999, dtype: object
날짜          20121015
항공사             대한항공
편명             KE717
출발공항코드           CJU
도착공항코드           NRT
계획시간      오후 6:10:00
예상시간               :
출발시간               :
현황                취소
Name: 49045, dtype: object
날짜          20121015
항공사             대한항공
편명            KE1956
출발공항코드           CJU
도착공항코드           CJJ
계획시간      오후 4:05:00
예상시간               :
출발시간               :
현황                취소
Name: 49047, dtype: object
날짜          20121015
항공사             대한항공
편명            KE1008
출발공항코드           CJU
도착공항코드           PUS

In [87]:
df2.head()

,지점,일시,풍향(deg),풍속(KT),순간풍속(KT),시정(m),일기현상(null),1층 운량(1/8),2층 운량(1/8),3층 운량(1/8),...,4층 운형(null),1층 운고(FT),2층 운고(FT),3층 운고(FT),4층 운고(FT),기온(°C),이슬점온도(°C),해면기압(hPa),현지기압(hPa),강수량(mm)
0,182,2012-01-01 00:00,320,7,NaN,10000,NaN,7.0,NaN,NaN,...,NaN,3000.0,NaN,NaN,NaN,7.5,-1.1,1025.3,1022.0,NaN
1,182,2012-01-01 01:00,310,8,NaN,8000,5.0,7.0,NaN,NaN,...,NaN,3000.0,NaN,NaN,NaN,7.8,0.1,1025.0,1021.7,NaN
2,182,2012-01-01 02:00,320,10,NaN,8000,5.0,7.0,NaN,NaN,...,NaN,3000.0,NaN,NaN,NaN,7.6,-1.5,1024.8,1021.5,NaN
3,182,2012-01-01 03:00,330,9,NaN,8000,5.0,7.0,NaN,NaN,...,NaN,3000.0,NaN,NaN,NaN,7.8,-1.2,1024.6,1021.5,NaN
4,182,2012-01-01 04:00,310,9,NaN,8000,5.0,7.0,NaN,NaN,...,NaN,3000.0,NaN,NaN,NaN,8.0,-2.5,1024.5,1021.4,NaN

In [88]:
df2.tail()

,지점,일시,풍향(deg),풍속(KT),순간풍속(KT),시정(m),일기현상(null),1층 운량(1/8),2층 운량(1/8),3층 운량(1/8),...,4층 운형(null),1층 운고(FT),2층 운고(FT),3층 운고(FT),4층 운고(FT),기온(°C),이슬점온도(°C),해면기압(hPa),현지기압(hPa),강수량(mm)
8779,182,2012-12-31 19:00,320,11,NaN,10000,NaN,7.0,NaN,NaN,...,NaN,4000.0,NaN,NaN,NaN,4.2,-6.6,1021.7,1018.4,NaN
8780,182,2012-12-31 20:00,300,9,NaN,10000,NaN,7.0,NaN,NaN,...,NaN,4000.0,NaN,NaN,NaN,4.1,-7.0,1021.6,1018.3,NaN
8781,182,2012-12-31 21:00,300,10,NaN,10000,NaN,7.0,NaN,NaN,...,NaN,4500.0,NaN,NaN,NaN,4.2,-7.3,1021.9,1018.6,NaN
8782,182,2012-12-31 22:00,300,7,NaN,10000,NaN,7.0,NaN,NaN,...,NaN,4500.0,NaN,NaN,NaN,4.2,-6.7,1022.0,1018.7,NaN
8783,182,2012-12-31 23:00,290,3,NaN,10000,NaN,5.0,NaN,NaN,...,NaN,4500.0,NaN,NaN,NaN,3.7,-6.3,1021.7,1018.4,NaN

In [89]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 24 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   지점           8784 non-null   int64
 1   일시           8784 non-null   object
 2   풍향(deg)      8784 non-null   int64
 3   풍속(KT)       8784 non-null   int64
 4   순간풍속(KT)     201 non-null    float64
 5   시정(m)        8784 non-null   int64
 6   일기현상(null)   4841 non-null   float64
 7   1층 운량(1/8)   7902 non-null   float64
 8   2층 운량(1/8)   4827 non-null   float64
 9   3층 운량(1/8)   1522 non-null   float64
 10  4층 운량(1/8)   6 non-null      float64
 11  1층 운형(null)  7902 non-null   float64
 12  2층 운형(null)  4827 non-null   float64
 13  3층 운형(null)  1522 non-null   float64
 14  4층 운형(null)  6 non-null      float64
 15  1층 운고(FT)    7902 non-null   float64
 16  2층 운고(FT)    4827 non-null   float64
 17  3층 운고(FT)    1522 non-null   float64
 18  4층 운고(FT)    6 non-null      float64
 19  기온(°C)       8784 non-null   float64
 20  이슬점온도(°C)    8784 non-null   float64
 21  해면기압(hPa)    8784 non-null   float64
 22  현지기압(hPa)    8784 non-null   float64
 23  강수량(mm)      1652 non-null   float64
dtypes: float64(19), int64(4), object(1)
memory usage: 1.6+ MB

In [90]:
df2 = df2.drop(labels = ['지점','2층 운량(1/8)','3층 운량(1/8)','4층 운량(1/8)','2층 운고(FT)','3층 운고(FT)','4층 운고(FT)'],axis =1)

In [91]:
df2 = df2.drop(labels = ['2층 운형(null)','3층 운형(null)','4층 운형(null)'],axis =1)

In [92]:
df2

,일시,풍향(deg),풍속(KT),순간풍속(KT),시정(m),일기현상(null),1층 운량(1/8),1층 운형(null),1층 운고(FT),기온(°C),이슬점온도(°C),해면기압(hPa),현지기압(hPa),강수량(mm)
0,2012-01-01 00:00,320,7,NaN,10000,NaN,7.0,6.0,3000.0,7.5,-1.1,1025.3,1022.0,NaN
1,2012-01-01 01:00,310,8,NaN,8000,5.0,7.0,6.0,3000.0,7.8,0.1,1025.0,1021.7,NaN
2,2012-01-01 02:00,320,10,NaN,8000,5.0,7.0,6.0,3000.0,7.6,-1.5,1024.8,1021.5,NaN
3,2012-01-01 03:00,330,9,NaN,8000,5.0,7.0,6.0,3000.0,7.8,-1.2,1024.6,1021.5,NaN
4,2012-01-01 04:00,310,9,NaN,8000,5.0,7.0,6.0,3000.0,8.0,-2.5,1024.5,1021.4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00,320,11,NaN,10000,NaN,7.0,6.0,4000.0,4.2,-6.6,1021.7,1018.4,NaN
8780,2012-12-31 20:00,300,9,NaN,10000,NaN,7.0,6.0,4000.0,4.1,-7.0,1021.6,1018.3,NaN
8781,2012-12-31 21:00,300,10,NaN,10000,NaN,7.0,6.0,4500.0,4.2,-7.3,1021.9,1018.6,NaN
8782,2012-12-31 22:00,300,7,NaN,10000,NaN,7.0,6.0,4500.0,4.2,-6.7,1022.0,1018.7,NaN
8783,2012-12-31 23:00,290,3,NaN,10000,NaN,5.0,6.0,4500.0,3.7,-6.3,1021.7,1018.4,NaN

In [93]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   일시           8784 non-null   object
 1   풍향(deg)      8784 non-null   int64
 2   풍속(KT)       8784 non-null   int64
 3   순간풍속(KT)     201 non-null    float64
 4   시정(m)        8784 non-null   int64
 5   일기현상(null)   4841 non-null   float64
 6   1층 운량(1/8)   7902 non-null   float64
 7   1층 운형(null)  7902 non-null   float64
 8   1층 운고(FT)    7902 non-null   float64
 9   기온(°C)       8784 non-null   float64
 10  이슬점온도(°C)    8784 non-null   float64
 11  해면기압(hPa)    8784 non-null   float64
 12  현지기압(hPa)    8784 non-null   float64
 13  강수량(mm)      1652 non-null   float64
dtypes: float64(10), int64(3), object(1)
memory usage: 960.9+ KB

In [94]:
df2['순간풍속(KT)'].fillna(df2['풍속(KT)'], inplace=True)
df2['강수량(mm)'].fillna(0, inplace=True)

In [95]:
df

             날짜     항공사      편명 출발공항코드 도착공항코드         계획시간   예상시간   출발시간  현황
0      20120101  중국남방항공   CZ694    CJU    SHE   오후 8:00:00  20:00  20:01  출발
1      20120101    제주항공   7C804    CJU    CJJ   오후 5:00:00  17:00  17:13  출발
2      20120101    대한항공  KE1246    CJU    GMP   오후 5:05:00  17:05  17:25  출발
3      20120101    대한항공  KE1250    CJU    GMP   오후 5:10:00  17:10  17:28  출발
4      20120101    제주항공   7C114    CJU    GMP   오후 5:20:00  17:20  17:32  출발
...         ...     ...     ...    ...    ...          ...    ...    ...  ..
62137  20121231    제주항공   7C504    CJU    PUS  오후 12:55:00  12:55  13:26  지연
62138  20121231      개인   TBJ23    CJU    RMQ   오후 1:00:00  13:49  13:49  출발
62139  20121231  아시아나항공  OZ8918    CJU    GMP   오후 1:00:00  13:00  13:16  출발
62140  20121231     진에어   LJ308    CJU    GMP  오후 12:35:00  12:35  12:48  출발
62141  20121231     진에어   LJ101    CJU    PVG  오후 10:15:00  22:15  22:24  출발

[62142 rows x 9 columns]

In [19]:
df2

,일시,풍향(deg),풍속(KT),순간풍속(KT),시정(m),일기현상(null),1층 운량(1/8),1층 운형(null),1층 운고(FT),기온(°C),이슬점온도(°C),해면기압(hPa),현지기압(hPa),강수량(mm)
0,2011-01-01 00:00,320,23,35.0,1700,85.0,7.0,8.0,2500.0,2.7,-2.0,1017.2,1014.0,0.6
1,2011-01-01 01:00,340,18,36.0,1000,86.0,7.0,8.0,2500.0,2.0,-0.3,1017.2,1014.0,0.4
2,2011-01-01 02:00,310,19,38.0,3500,85.0,7.0,8.0,2500.0,2.9,-0.6,1017.0,1013.9,0.6
3,2011-01-01 03:00,330,18,18.0,1000,86.0,7.0,8.0,2500.0,2.0,0.0,1017.5,1014.4,0.2
4,2011-01-01 04:00,330,22,40.0,1000,86.0,7.0,8.0,2500.0,1.1,-0.4,1018.0,1014.7,0.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2011-12-31 19:00,300,9,9.0,10000,NaN,7.0,6.0,2500.0,7.0,-1.2,1026.5,1023.4,0.0
8756,2011-12-31 20:00,310,7,7.0,10000,NaN,7.0,6.0,3000.0,7.0,-1.2,1026.6,1023.5,0.0
8757,2011-12-31 21:00,280,5,5.0,10000,NaN,7.0,6.0,3000.0,6.9,-1.2,1026.5,1023.2,0.0
8758,2011-12-31 22:00,210,6,6.0,10000,NaN,7.0,6.0,3000.0,6.0,-1.3,1026.3,1023.0,0.0
8759,2011-12-31 23:00,240,1,1.0,10000,NaN,7.0,6.0,3000.0,5.8,-1.1,1025.8,1022.5,0.0

In [20]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   일시           8760 non-null   object
 1   풍향(deg)      8760 non-null   int64
 2   풍속(KT)       8760 non-null   int64
 3   순간풍속(KT)     8760 non-null   float64
 4   시정(m)        8760 non-null   int64
 5   일기현상(null)   5558 non-null   float64
 6   1층 운량(1/8)   7968 non-null   float64
 7   1층 운형(null)  7968 non-null   float64
 8   1층 운고(FT)    7968 non-null   float64
 9   기온(°C)       8760 non-null   float64
 10  이슬점온도(°C)    8760 non-null   float64
 11  해면기압(hPa)    8760 non-null   float64
 12  현지기압(hPa)    8760 non-null   float64
 13  강수량(mm)      8760 non-null   float64
dtypes: float64(10), int64(3), object(1)
memory usage: 958.2+ KB

In [96]:
df2 = df2.fillna(0)

In [97]:
df2 = df2.drop(labels = '일기현상(null)',axis =1)

In [98]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   일시           8784 non-null   object
 1   풍향(deg)      8784 non-null   int64
 2   풍속(KT)       8784 non-null   int64
 3   순간풍속(KT)     8784 non-null   float64
 4   시정(m)        8784 non-null   int64
 5   1층 운량(1/8)   8784 non-null   float64
 6   1층 운형(null)  8784 non-null   float64
 7   1층 운고(FT)    8784 non-null   float64
 8   기온(°C)       8784 non-null   float64
 9   이슬점온도(°C)    8784 non-null   float64
 10  해면기압(hPa)    8784 non-null   float64
 11  현지기압(hPa)    8784 non-null   float64
 12  강수량(mm)      8784 non-null   float64
dtypes: float64(9), int64(3), object(1)
memory usage: 892.2+ KB

In [99]:
import datetime

result = []

a = df['날짜']
b = df['계획시간'].astype(str)

if len(a) == len(b):
    for i in range(len(a)):
        a_dt = datetime.datetime.strptime(str(a.iloc[i]), '%Y%m%d')



        b_time = b.iloc[i].split(' ')[-1]
        b_str = ' '.join(b.iloc[i].split(' ')[:-1])

        b_dt = datetime.datetime.strptime(b_time, '%I:%M:%S')

        if '오후' in b_str:
            b_dt += datetime.timedelta(hours=12)

        result.append(f'{a_dt.date()} {b_dt.time()}')

df['일시'] = result

ValueError: ignored

In [35]:
df

,날짜,항공사,편명,출발공항코드,도착공항코드,계획시간,예상시간,출발시간,현황,일시
0,20110101,이스타항공,ZE230,CJU,GMP,오후 9:15:00,오후 9:15:00,오후 9:23:00,출발,2011-01-01 21:15:00
1,20110101,이스타항공,ZE222,CJU,GMP,오후 5:00:00,오후 5:00:00,오후 5:16:00,출발,2011-01-01 17:00:00
2,20110101,아시아나항공,OZ8972,CJU,GMP,오후 5:00:00,오후 5:00:00,오후 5:21:00,출발,2011-01-01 17:00:00
3,20110101,제주항공,7C804,CJU,CJJ,오후 5:00:00,오후 5:00:00,오후 5:27:00,출발,2011-01-01 17:00:00
4,20110101,대한항공,KE1246,CJU,GMP,오후 5:05:00,오후 5:05:00,오후 5:24:00,출발,2011-01-01 17:05:00
...,...,...,...,...,...,...,...,...,...,...
57868,20111231,아시아나항공,OZ8124,CJU,TAE,오후 12:10:00,오후 12:10:00,오후 12:31:00,출발,2011-12-31 12:10:00
57869,20111231,진에어,LJ308,CJU,GMP,오후 12:35:00,오후 12:35:00,오후 12:55:00,출발,2011-12-31 12:35:00
57870,20111231,이스타항공,ZE214,CJU,GMP,오후 12:40:00,오후 12:40:00,오후 1:05:00,출발,2011-12-31 12:40:00
57871,20111231,대한항공,KE1222,CJU,GMP,오후 12:45:00,오후 12:45:00,오후 1:08:00,출발,2011-12-31 12:45:00
57872,20111231,티웨이항공,TW724,CJU,GMP,오후 9:25:00,오후 9:25:00,오후 9:35:00,출발,2011-12-31 21:25:00

In [ ]:
#선형 보간법을 사용하여 예측

#물리적으로 기상상황이 시간 단위로 급변하지 않기 때문에 선형 보간 법으로 처리하여도 괜찮음.

In [36]:
df

,날짜,항공사,편명,출발공항코드,도착공항코드,계획시간,예상시간,출발시간,현황,일시
0,20110101,이스타항공,ZE230,CJU,GMP,오후 9:15:00,오후 9:15:00,오후 9:23:00,출발,2011-01-01 21:15:00
1,20110101,이스타항공,ZE222,CJU,GMP,오후 5:00:00,오후 5:00:00,오후 5:16:00,출발,2011-01-01 17:00:00
2,20110101,아시아나항공,OZ8972,CJU,GMP,오후 5:00:00,오후 5:00:00,오후 5:21:00,출발,2011-01-01 17:00:00
3,20110101,제주항공,7C804,CJU,CJJ,오후 5:00:00,오후 5:00:00,오후 5:27:00,출발,2011-01-01 17:00:00
4,20110101,대한항공,KE1246,CJU,GMP,오후 5:05:00,오후 5:05:00,오후 5:24:00,출발,2011-01-01 17:05:00
...,...,...,...,...,...,...,...,...,...,...
57868,20111231,아시아나항공,OZ8124,CJU,TAE,오후 12:10:00,오후 12:10:00,오후 12:31:00,출발,2011-12-31 12:10:00
57869,20111231,진에어,LJ308,CJU,GMP,오후 12:35:00,오후 12:35:00,오후 12:55:00,출발,2011-12-31 12:35:00
57870,20111231,이스타항공,ZE214,CJU,GMP,오후 12:40:00,오후 12:40:00,오후 1:05:00,출발,2011-12-31 12:40:00
57871,20111231,대한항공,KE1222,CJU,GMP,오후 12:45:00,오후 12:45:00,오후 1:08:00,출발,2011-12-31 12:45:00
57872,20111231,티웨이항공,TW724,CJU,GMP,오후 9:25:00,오후 9:25:00,오후 9:35:00,출발,2011-12-31 21:25:00

In [37]:
df['일시'] = pd.to_datetime(df['일시'])
df2['일시'] = pd.to_datetime(df2['일시'])

In [38]:
# merge 함수를 사용하여 두 데이터프레임을 조인합니다.
df_merged = pd.merge(df, df2, on='일시', how='left')

In [39]:
import numpy as np
from scipy import interpolate

In [40]:
# merge 함수를 사용하여 두 데이터프레임을 조인합니다.
df_merged = pd.merge(df, df2, on='일시', how='left')

# 보간할 열만 선택합니다.
cols_to_interpolate = ['풍향(deg)', '풍속(KT)', '순간풍속(KT)', '시정(m)', '1층 운량(1/8)','1층 운고(FT)', '1층 운형(null)','기온(°C)', '이슬점온도(°C)', '해면기압(hPa)', '현지기압(hPa)', '강수량(mm)']

# 선형 보간을 사용하여 일치하지 않는 데이터를 추정합니다.
for col in cols_to_interpolate:
    # 보간 함수를 생성합니다.
    f = interpolate.interp1d(df2['일시'].values.astype(np.int64), df2[col], kind='linear', fill_value='extrapolate')
    # df1에서 일치하지 않는 데이터를 추출합니다.
    missing_data = df_merged[df_merged[col].isnull()]
    # 일치하지 않는 데이터의 값을 보간 함수로 추정합니다.
    df_merged.loc[missing_data.index, col] = f(missing_data['일시'].values.astype(np.int64))

In [41]:
df_merged

,날짜,항공사,편명,출발공항코드,도착공항코드,계획시간,예상시간,출발시간,현황,일시,...,순간풍속(KT),시정(m),1층 운량(1/8),1층 운형(null),1층 운고(FT),기온(°C),이슬점온도(°C),해면기압(hPa),현지기압(hPa),강수량(mm)
0,20110101,이스타항공,ZE230,CJU,GMP,오후 9:15:00,오후 9:15:00,오후 9:23:00,출발,2011-01-01 21:15:00,...,6.500000,10000.0,5.000000,6.0,3000.0,2.750000,-3.375000,1025.525000,1022.325000,0.0
1,20110101,이스타항공,ZE222,CJU,GMP,오후 5:00:00,오후 5:00:00,오후 5:16:00,출발,2011-01-01 17:00:00,...,11.000000,10000.0,2.000000,6.0,2500.0,2.200000,-5.900000,1022.700000,1019.500000,0.0
2,20110101,아시아나항공,OZ8972,CJU,GMP,오후 5:00:00,오후 5:00:00,오후 5:21:00,출발,2011-01-01 17:00:00,...,11.000000,10000.0,2.000000,6.0,2500.0,2.200000,-5.900000,1022.700000,1019.500000,0.0
3,20110101,제주항공,7C804,CJU,CJJ,오후 5:00:00,오후 5:00:00,오후 5:27:00,출발,2011-01-01 17:00:00,...,11.000000,10000.0,2.000000,6.0,2500.0,2.200000,-5.900000,1022.700000,1019.500000,0.0
4,20110101,대한항공,KE1246,CJU,GMP,오후 5:05:00,오후 5:05:00,오후 5:24:00,출발,2011-01-01 17:05:00,...,10.750000,10000.0,2.083333,6.0,2500.0,2.216667,-5.741667,1022.783333,1019.583333,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56464,20111231,아시아나항공,OZ8124,CJU,TAE,오후 12:10:00,오후 12:10:00,오후 12:31:00,출발,2011-12-31 12:10:00,...,3.500000,10000.0,7.000000,6.0,2500.0,6.100000,-0.650000,1027.800000,1024.666667,0.0
56465,20111231,진에어,LJ308,CJU,GMP,오후 12:35:00,오후 12:35:00,오후 12:55:00,출발,2011-12-31 12:35:00,...,4.750000,10000.0,7.000000,6.0,2500.0,6.100000,-0.275000,1027.300000,1024.083333,0.0
56466,20111231,이스타항공,ZE214,CJU,GMP,오후 12:40:00,오후 12:40:00,오후 1:05:00,출발,2011-12-31 12:40:00,...,5.000000,10000.0,7.000000,6.0,2500.0,6.100000,-0.200000,1027.200000,1023.966667,0.0
56467,20111231,대한항공,KE1222,CJU,GMP,오후 12:45:00,오후 12:45:00,오후 1:08:00,출발,2011-12-31 12:45:00,...,5.250000,10000.0,7.000000,6.0,2500.0,6.100000,-0.125000,1027.100000,1023.850000,0.0
56468,20111231,티웨이항공,TW724,CJU,GMP,오후 9:25:00,오후 9:25:00,오후 9:35:00,출발,2011-12-31 21:25:00,...,5.416667,10000.0,7.000000,6.0,3000.0,6.525000,-1.241667,1026.416667,1023.116667,0.0

In [42]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56469 entries, 0 to 56468
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   날짜           56469 non-null  int64
 1   항공사          56469 non-null  object
 2   편명           56469 non-null  object
 3   출발공항코드       56469 non-null  object
 4   도착공항코드       56469 non-null  object
 5   계획시간         56469 non-null  object
 6   예상시간         56469 non-null  object
 7   출발시간         56469 non-null  object
 8   현황           56469 non-null  object
 9   일시           56469 non-null  datetime64[ns]
 10  풍향(deg)      56469 non-null  float64
 11  풍속(KT)       56469 non-null  float64
 12  순간풍속(KT)     56469 non-null  float64
 13  시정(m)        56469 non-null  float64
 14  1층 운량(1/8)   56469 non-null  float64
 15  1층 운형(null)  56469 non-null  float64
 16  1층 운고(FT)    56469 non-null  float64
 17  기온(°C)       56469 non-null  float64
 18  이슬점온도(°C)    56469 non-null  float64
 19  해면기압(hPa)    56469 non-null  float64
 20  현지기압(hPa)    56469 non-null  float64
 21  강수량(mm)      56469 non-null  float64
dtypes: datetime64[ns](1), float64(12), int64(1), object(8)
memory usage: 11.9+ MB

In [43]:
data = df_merged

In [44]:
data = data.drop(labels = ['날짜','계획시간'	,'예상시간'	,'출발시간','일시'],axis = 1)

In [45]:
data.describe()

,풍향(deg),풍속(KT),순간풍속(KT),시정(m),1층 운량(1/8),1층 운형(null),1층 운고(FT),기온(°C),이슬점온도(°C),해면기압(hPa),현지기압(hPa),강수량(mm)
count,56469.000000,56469.000000,56469.000000,56469.000000,56469.000000,56469.000000,56469.000000,56469.000000,56469.000000,56469.000000,56469.000000,56469.000000
mean,181.977811,8.454832,8.835331,7732.941894,3.095310,5.363859,3008.048369,16.395889,10.172538,1016.466450,1013.468427,0.099548
std,116.760544,5.167071,6.142492,2310.671400,2.008302,2.330348,3684.393238,8.353175,9.692499,8.316043,8.193887,0.698533
min,0.000000,0.000000,0.000000,100.000000,0.000000,0.000000,0.000000,-3.141667,-13.500000,993.300000,990.408333,0.000000
25%,70.000000,4.666667,4.666667,6000.000000,2.000000,6.000000,1000.000000,9.550000,1.141667,1009.500000,1006.616667,0.000000
50%,177.500000,7.000000,7.083333,8000.000000,3.000000,6.000000,3000.000000,17.566667,11.800000,1016.083333,1013.075000,0.000000
75%,300.000000,11.833333,12.000000,10000.000000,4.000000,7.000000,3000.000000,22.900000,19.233333,1023.525000,1020.416667,0.000000
max,360.000000,33.083333,48.333333,10000.000000,9.000000,10.000000,20000.000000,34.200000,24.600000,1038.900000,1035.500000,22.600000

In [46]:
data = data.round(3)

In [47]:
data

,항공사,편명,출발공항코드,도착공항코드,현황,풍향(deg),풍속(KT),순간풍속(KT),시정(m),1층 운량(1/8),1층 운형(null),1층 운고(FT),기온(°C),이슬점온도(°C),해면기압(hPa),현지기압(hPa),강수량(mm)
0,이스타항공,ZE230,CJU,GMP,출발,10.000,6.500,6.500,10000.0,5.000,6.0,3000.0,2.750,-3.375,1025.525,1022.325,0.0
1,이스타항공,ZE222,CJU,GMP,출발,360.000,11.000,11.000,10000.0,2.000,6.0,2500.0,2.200,-5.900,1022.700,1019.500,0.0
2,아시아나항공,OZ8972,CJU,GMP,출발,360.000,11.000,11.000,10000.0,2.000,6.0,2500.0,2.200,-5.900,1022.700,1019.500,0.0
3,제주항공,7C804,CJU,CJJ,출발,360.000,11.000,11.000,10000.0,2.000,6.0,2500.0,2.200,-5.900,1022.700,1019.500,0.0
4,대한항공,KE1246,CJU,GMP,출발,330.833,10.750,10.750,10000.0,2.083,6.0,2500.0,2.217,-5.742,1022.783,1019.583,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56464,아시아나항공,OZ8124,CJU,TAE,출발,315.000,3.500,3.500,10000.0,7.000,6.0,2500.0,6.100,-0.650,1027.800,1024.667,0.0
56465,진에어,LJ308,CJU,GMP,출발,327.500,4.750,4.750,10000.0,7.000,6.0,2500.0,6.100,-0.275,1027.300,1024.083,0.0
56466,이스타항공,ZE214,CJU,GMP,출발,330.000,5.000,5.000,10000.0,7.000,6.0,2500.0,6.100,-0.200,1027.200,1023.967,0.0
56467,대한항공,KE1222,CJU,GMP,출발,332.500,5.250,5.250,10000.0,7.000,6.0,2500.0,6.100,-0.125,1027.100,1023.850,0.0
56468,티웨이항공,TW724,CJU,GMP,출발,250.833,5.417,5.417,10000.0,7.000,6.0,3000.0,6.525,-1.242,1026.417,1023.117,0.0